@font-face {
    font-family: 'EuclidCircularB';
    src: url('./assets/fontes/EuclidCircularB-Medium.otf');
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'EuclidCircularB';
    background: #E5E5E5;
    margin: 0;
}

.container {
    margin:auto;
    max-width: 1319px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.3)
}

h1 {
    font-size: 26px;
    margin: 30px 0;
}

.panel {
    width: 100%;
    margin-bottom: 30px;
    background: #FFF;
    padding: 35px 37px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.title-panel {
    font-size: 22.75;
    margin: 0 0 20px 0;
    color: #373A3C;
}

input {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 6px 10px;
}

.btn {
    width: 100%;
    color: #000;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 20px;
    padding: 13px;
    margin: 10px 0;
}

.btn-primary {
    background: #5CB85C;
    color: #FFF;
}

.btn:hover { background: #CCC }
  