<h1>Consulta pedido</h1>

<section class="panel">
    <h3 class="title-panel"><i class="icon icon-pedidos"></i>Pedidos</h3>

    <table>
        <tr>
            <th>#</th>
            <th>Valor total</th>
            <th>Quant. de itens</th>
            <th>Valor do frete</th>
        </tr>
        <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.valorTotal | currency:'BRL' }}</td>
            <td>{{ pedido.qtdItens }}</td>
            <td>{{ pedido.valorFrete | currency:'BRL' }}</td>
        </tr>
    </table>

</section>
