<nav>
    <div class="container">
        <span><a routerLink="/"><img id="logo-maxima" src="../../assets/icones/logotipo-maximatech.png" alt="logotipo-maximatech"></a></span>
        <ul>
            <li class="dropdown">
                <a>Cadastro<span class="menu-arrow-down"></span></a>
                <div class="dropdown-content">
                    <a routerLink="/">Cliente</a>
                    <a routerLink="/">Produto</a>
                </div>
            </li>
            <li class="dropdown">
                <a>Pedido<span class="menu-arrow-down"></span></a>
                <div class="dropdown-content">
                    <a routerLink="/pedido/novo">Novo pedido</a>
                    <a routerLink="/pedido/list">Consulta pedido</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
