<h1>Novo pedido #12345678</h1>

<!-- CLIENTE -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-cliente"></i>Cliente</h2>

    <div class="input-container">
        <select type="text" class="input-cliente">
                <option value="" selected hidden>Informe um cliente *</option>
                <option *ngFor="let cliente of clientes">{{cliente.nome}}</option>
        </select>
        <span class="btn-pesquisa">
            <i class="icon icon-pesquisa" *ngIf="!isclienteSelecionado"></i>
            <i class="icon icon-apagar" *ngIf="isclienteSelecionado"></i>
        </span>
    </div>
</section>

<!-- CARRINHO -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-carrinho"></i>Carrinho</h2>

    <div class="input-container">
        <select type="text" class="input-produto">
            <option selected hidden>Pesquise um produto</option>
            <option *ngFor="let produto of produtos">{{produto.nome}}</option>
        </select>
        
        <span class="btn-pesquisa">
            <i class="icon icon-pesquisa"></i>
            <i class="icon icon-apagar"></i>
        </span>
    </div>

    <hr />
    <div class="product-card">
        <div>
            <img src="../../../assets/icones/foto-fanta.png" class="product-image" alt="produto">
            <div class="product-details">
                <p>8689</p>
                <h3>Fardo 6UN Coca-Cola 600ml</h3>
            </div>
        </div>

        <div>
            <div class="product-prices">
                <span><input type="number" style="width: 50px;"> x R$ 17,34</span>
                <p class="preco-produto">R$ 66,56</p>
            </div>
            <span class="btn-apagar-produto"><i class="icon icon-apagar"></i></span>
        </div>
    </div>
    <hr />

    <!-- <div class="carrinho-vazio">
        <img class="img-carrinho-vazio" src="../../../assets/icones/imagem-carrinho-empty-state.png" alt="">
        <p class="carrinho-vazio-title">Carrinho vazio</p>
        <p class="carrinho-vazio-subtitle">Nenhum produto foi inserido</p>
    </div> -->
</section>

<!-- TOTAL -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-total"></i>Total</h2>

    <div class="total-panel">

        <div class="total-panel-column">
            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Itens</label>
                <span class="total-panel-value">R$ 0,00</span>
            </div>

            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Frete</label>
                <span class="total-panel-value">R$ 0,00</span>
            </div>

            <hr />

            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Total</label>
                <span class="total-panel-value">R$ 0,00</span>
            </div>
        </div>

        <div class="total-panel-column">
            <button class="btn btn-primary" (click)="finalizarPedido()">Finalizar pedido</button>
            <button class="btn">Limpar carrinho</button>
        </div>
    </div>
</section>