<h1>Novo pedido #12345678</h1>

<!-- CLIENTE -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-cliente"></i>Cliente</h2>

    <form [formGroup]="clienteForm" novalidate>
        <div class="input-container">
            <ng-select class="input-cliente"  [items]="clientes"
                #clienteSelecionado
                [selectOnTab]="true"
                bindValue="nome"
                bindLabel="nome"
                labelForId="cliente"
                (ngModelChange)="selecionarCliente(clienteSelecionado)"
                placeholder="Informe um cliente *"
                formControlName="nome">
            </ng-select>
        </div>
    </form>
</section>

<!-- CARRINHO -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-carrinho"></i>Carrinho</h2>

    <form [formGroup]="produtosForm" novalidate>
        <div class="input-container">
            <ng-select class="input-produto" [items]="produtos"
                #produtoSelecionado
                [selectOnTab]="true"
                bindLabel="nome"
                [clearSearchOnAdd]="true"
                (ngModelChange)="addProdutoCarrinho(produtoSelecionado)"
                placeholder="Pesquise um produto"
                formControlName="produtos">
            </ng-select>
        </div>

        <div *ngFor="let produtoCarrinho of pc.controls; let i = index">
            <hr *ngIf="i == 0" />
            <div class="product-card" [formGroup]="produtoCarrinho">
                <div>
                    <img src="https://via.placeholder.com/150" style="border-radius: 50%" class="product-image" alt="produto">
                    <div class="product-details">
                        <p>{{ produtoCarrinho.value.produto.codigo }}</p>
                        <h3>{{ produtoCarrinho.value.produto.nome }}</h3>
                    </div>
                </div>

                <div>
                    <div class="product-prices">
                        <span><input type="number" value="1" formControlName="quantidade" (change)="atualizaValorFrete()" style="width: 50px;">
                            x {{produtoCarrinho.value.produto.precoUnitario | currency:'BRL' }}</span>
                        <p class="preco-produto">{{ getPrecoProduto(produtoCarrinho.value) | currency:'BRL'  }}</p>
                    </div>
                    <button class="btn-apagar-produto" title="Remover {{produtoCarrinho.value.produto.nome}}" (click)="removeProdutoCarrinho(produtoCarrinho.value.produto)"><i class="icon icon-apagar"></i></button>
                </div>
            </div>
            <hr />
        </div>

        <div *ngIf="pc.controls.length === 0" class="carrinho-vazio">
            <img class="img-carrinho-vazio" src="../../../assets/icones/imagem-carrinho-empty-state.png" alt="">
            <p class="carrinho-vazio-title">Carrinho vazio</p>
            <p class="carrinho-vazio-subtitle">Nenhum produto foi inserido</p>
        </div>
    </form>
</section>

<!-- TOTAL -->
<section class="panel">
    <h2 class="title-panel"><i class="icon icon-total"></i>Total</h2>

    <div class="total-panel">

        <div class="total-panel-column">
            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Itens</label>
                <span class="total-panel-value">{{ calculaValorItensCarrinho() | currency:'BRL' }}</span>
            </div>

            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Frete</label>
                <span class="total-panel-value">{{ valorFrete | currency:'BRL' }}</span>
            </div>

            <hr />

            <div class="total-panel-value-container">
                <label class="label-value" for="total-itens">Total</label>
                <span class="total-panel-value">{{ calculaValorTotal() | currency:'BRL' }}</span>
            </div>
        </div>

        <div class="total-panel-column">
            <button class="btn btn-primary" (click)="finalizarPedido()">Finalizar pedido</button>
            <button class="btn" (click)="limparCarrinho()">Limpar carrinho</button>
        </div>
    </div>
</section>